#wrapper{
  position:relative;
  width:400px;
  height:400px;
  margin:0 auto;
  padding:0;
  background:black;
  border:1px solid blue;
}
canvas{
  position:absolute;
  top:0;
  left:0;
  z-index:100;
}
canvas.front{
  z-index:200;
}
canvas.grid{
  z-index:210;
}
